<div class="container add-event" style="height: 498px;">
    <div class="row event-header">
      <span *ngIf="graduate && graduate.id">Redaguoti laidą</span>
      <span *ngIf="graduate && !graduate.id">Pridėti laidą</span>
    </div>
    <div class="row event-form" *ngIf="graduate" style="padding-top: 40px;">
        <div class="form-group" style="width: 100%;">
            <label>Pavadinimas</label>
            <input class="form-control" type="text" [(ngModel)]="graduate.title" placeholder="Laidos pavadinimas" required>
          </div>
  
      <div class="form-group" style="width: 100%;">
        <label>Metai</label>
        <input class="form-control" type="text" placeholder="Metai" [(ngModel)]="graduate.year">
      </div>
    </div>
    <div class="row event-form" style="display: flow-root;">
      <button type="button" class="warning-btn" *ngIf="activeParameter" (click)="delete()">Ištrinti</button>
      <button type="button" class="btn btn-link" (click)="cancel()">Atgal</button>
      <div class="submit-button">
          <button type="submit" class="save-btn" (click)="apply()">Išsaugoti</button>
      </div>
    </div>
  </div>